<footer class="border-top mt-4 pt-3 pb-3 text-center text-white">
	<div class="container">
		<small>
			Autor: Luis Gonzalo Morelli &nbsp;|&nbsp;
			<a href="https://github.com/luisgm21/tpfinalSprint5" target="_blank" rel="noopener">Repositorio del proyecto</a>
		</small>
	</div>
</footer>
